<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442305473697-8sp820f9buqmkl7q4q6hvfrc9bhc06go.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442305473697-8sp820f9buqmkl7q4q6hvfrc9bhc06go</string>
	<key>API_KEY</key>
	<string>AIzaSyARpd0SZ8efviy3mAY4A3aAzqF1axIQuhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>442305473697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HenrikDore.TheJumpGame</string>
	<key>PROJECT_ID</key>
	<string>thegamedummyproject</string>
	<key>STORAGE_BUCKET</key>
	<string>thegamedummyproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442305473697:ios:5eb36770fe433edf4c54e0</string>
	<key>DATABASE_URL</key>
	<string>https://thegamedummyproject.firebaseio.com</string>
</dict>
</plist>